<html lang="en-US" class="pp-full-screen-menu-module chrome chrome80" style="overflow-x: hidden;"><head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="profile" href="https://gmpg.org/xfn/11">
<title>Premier Investment Banking Services - Dinan &amp; Company, LLC</title>

<!-- This site is optimized with the Yoast SEO plugin v12.9.1 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Providing the highest standards of professionalism, sophistication and execution expertise in Merger &amp; Acquisition transactions.">
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<link rel="canonical" href="https://www.dinancompany.com/">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="Premier Investment Banking Services - Dinan &amp; Company, LLC">
<meta property="og:description" content="Providing the highest standards of professionalism, sophistication and execution expertise in Merger &amp; Acquisition transactions.">
<meta property="og:url" content="https://www.dinancompany.com/">
<meta property="og:site_name" content="Dinan &amp; Company, LLC">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="Providing the highest standards of professionalism, sophistication and execution expertise in Merger &amp; Acquisition transactions.">
<meta name="twitter:title" content="Premier Investment Banking Services - Dinan &amp; Company, LLC">
<meta name="twitter:image" content="https://www.dinancompany.com/wp-content/uploads/2019/01/over30yrs.png">

<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link href="https://fonts.gstatic.com" crossorigin="" rel="preconnect">
<link rel="alternate" type="application/rss+xml" title="Dinan &amp; Company, LLC » Feed" href="https://www.dinancompany.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Dinan &amp; Company, LLC » Comments Feed" href="https://www.dinancompany.com/comments/feed/">
    <style type="text/css">
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
</style>
  <link rel="stylesheet" id="wp-block-library-css" href="https://www.dinancompany.com/wp-includes/css/dist/block-library/style.min.css?ver=5.3.2" type="text/css" media="all">
<link rel="stylesheet" id="wp-block-library-theme-css" href="https://www.dinancompany.com/wp-includes/css/dist/block-library/theme.min.css?ver=5.3.2" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-5-css" href="https://www.dinancompany.com/wp-content/plugins/bb-plugin/fonts/fontawesome/5.12.0/css/all.min.css?ver=2.3.1.1" type="text/css" media="all">

<link rel="stylesheet" id="owl-carousel-css" href="https://www.dinancompany.com/wp-content/plugins/bbpowerpack/assets/css/owl.carousel.css?ver=2.7.10.2" type="text/css" media="all"><link rel="stylesheet" id="owl-carousel-theme-css" href="https://www.dinancompany.com/wp-content/plugins/bbpowerpack/assets/css/owl.theme.css?ver=2.7.10.2" type="text/css" media="all">
<link rel="stylesheet" id="fl-builder-layout-4-css" href="https://www.dinancompany.com/wp-content/uploads/bb-plugin/cache/4-layout.css?ver=4bbdccae2426adb44ab8fd67b6e30f49" type="text/css" media="all">
<link rel="stylesheet" id="magic-liquidizer-table-style-css" href="https://www.dinancompany.com/wp-content/plugins/magic-liquidizer-responsive-table/idcss/ml-responsive-table.css?ver=2.0.3" type="text/css" media="all">
<link rel="stylesheet" id="fl-builder-layout-bundle-3189aeed54fd14d33e581ade08d8eedd-css" href="https://www.dinancompany.com/wp-content/uploads/bb-plugin/cache/3189aeed54fd14d33e581ade08d8eedd-layout-bundle.css?ver=2.3.1.1-1.2.5" type="text/css" media="all">
<link rel="stylesheet" id="wp-job-manager-applications-frontend-css" href="https://www.dinancompany.com/wp-content/plugins/wp-job-manager-applications/assets/css/frontend.css?ver=5.3.2" type="text/css" media="all">
<link rel="stylesheet" id="jquery-magnificpopup-css" href="https://www.dinancompany.com/wp-content/plugins/bb-plugin/css/jquery.magnificpopup.min.css?ver=2.3.1.1" type="text/css" media="all">
<link rel="stylesheet" id="bootstrap-css" href="https://www.dinancompany.com/wp-content/themes/bb-theme/css/bootstrap.min.css?ver=1.7.5.1" type="text/css" media="all">
<link rel="stylesheet" id="fl-automator-skin-css" href="https://www.dinancompany.com/wp-content/uploads/bb-theme/skin-5e31b056b3bdd.css?ver=1.7.5.1" type="text/css" media="all">
<link rel="stylesheet" id="fl-child-theme-css" href="https://www.dinancompany.com/wp-content/themes/ss-builder/style.css?ver=5.3.2" type="text/css" media="all">
<link rel="stylesheet" id="pp-animate-css" href="https://www.dinancompany.com/wp-content/plugins/bbpowerpack/assets/css/animate.min.css?ver=3.5.1" type="text/css" media="all">
<link rel="stylesheet" id="fl-builder-google-fonts-94b62175d4d8a81cbd61b22d9344acb8-css" href="//fonts.googleapis.com/css?family=Montserrat%3A300%2C400%2C700%7CCantarell%3A700%7CRoboto%3A400&amp;ver=5.3.2" type="text/css" media="all">

</head>
<body data-rsssl="1" class="home page-template-default page page-id-4 fl-builder fl-theme-builder-header fl-theme-builder-footer fl-theme-builder-singular fl-framework-bootstrap fl-preset-default fl-full-width fl-scroll-to-top fl-search-active simple-builder fl-builder-breakpoint-large" itemscope="itemscope" itemtype="https://schema.org/WebPage">


<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5ab04e8e773cb" data-node="5ab04e8e773cb">
  <div class="fl-row-content-wrap">
    <div class="uabb-row-separator uabb-top-row-separator">
</div>
            <div class="fl-row-content fl-row-fixed-width fl-node-content">
    
<div class="fl-col-group fl-node-5ab04e8e7b838" data-node="5ab04e8e7b838">
      <div class="fl-col fl-node-5ab04e8e7b9e7" data-node="5ab04e8e7b9e7">
  <div class="fl-col-content fl-node-content">
  <div class="fl-module fl-module-heading fl-node-5ab04ec934367 fl-animation fl-fade-in fl-animated" data-node="5ab04ec934367" data-animation-delay="0.0" data-animation-duration="1" style="animation-duration: 1s;">
  <div class="fl-module-content fl-node-content">
    
    
  </h5>
  </div>
</div>
  </div>
</div>
  </div>

<div class="fl-col-group fl-node-5ab04eaa0cf68 fl-col-group-equal-height fl-col-group-align-top" data-node="5ab04eaa0cf68">
      <div class="fl-col fl-node-5ab04eaa0d275 fl-col-small" data-node="5ab04eaa0d275">
  <div class="fl-col-content fl-node-content">
  <div class="fl-module fl-module-rich-text fl-node-5ab04f3bcc97b fl-animation fl-fade-up fl-animated" data-node="5ab04f3bcc97b" data-animation-delay="0" data-animation-duration="1" style="animation-duration: 1s;">
  
</div>
  </div>
</div>
      <div class="fl-col fl-node-5ab04eaa0d2c2" data-node="5ab04eaa0d2c2">
  <div class="fl-col-content fl-node-content">
  <div class="fl-module fl-module-rich-text fl-node-5ab04ff052914 fl-animation fl-fade-up fl-animated" data-node="5ab04ff052914" data-animation-delay="0.0" data-animation-duration="1" style="animation-duration: 1s;">
  
</div>
  </div>
</div>
  </div>
    </div>
  </div>
</div>

<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5ab1743d976b3 fl-row-bg-overlay" data-node="5ab1743d976b3">
  <div class="fl-row-content-wrap">
    <div class="uabb-row-separator uabb-top-row-separator">
</div>
            <div class="fl-row-content fl-row-fixed-width fl-node-content">
    
<div class="fl-col-group fl-node-5ab1743d976f0" data-node="5ab1743d976f0">
      <div class="fl-col fl-node-5ab1743d9772d fl-col-has-cols" data-node="5ab1743d9772d">
  <div class="fl-col-content fl-node-content">
  
<div class="fl-col-group fl-node-5ab1743d9776a fl-col-group-nested fl-col-group-equal-height fl-col-group-align-top" data-node="5ab1743d9776a">
      <div class="fl-col fl-node-5ab1743d977a7 fl-col-small" data-node="5ab1743d977a7">
  <div class="fl-col-content fl-node-content">
  <div class="fl-module fl-module-pp-heading fl-node-5ab17478b7de2" data-node="5ab17478b7de2">
  <div class="fl-module-content fl-node-content">
    <div class="pp-heading-content">
    <div class="pp-heading  pp-center">

    <h3 class="heading-title">
 
      <span class="title-text pp-primary-title">MERGERS &amp;  <br> ACQUISITIONS</span>
      
      
    </h3>

  </div>
        <div class="pp-sub-heading">
      <p>Dinan &amp; Company’s clients receive senior level attention on all transactions, regardless of size.</p>    </div>
  
  </div>
  </div>
</div>
<div class="fl-module fl-module-pp-smart-button fl-node-5ab17481a6d13" data-node="5ab17481a6d13">
  <div class="fl-module-content fl-node-content">
    <div class="pp-button-wrap pp-button-width-full">
  <a href="/service/sell-side-m-a/" target="_self" class="pp-button" role="button">
        <span class="pp-button-text">LEARN MORE</span>
      </a>
</div>
  </div>
</div>
  </div>
</div>
      <div class="fl-col fl-node-5ab1743d977e4 fl-col-small" data-node="5ab1743d977e4">
  <div class="fl-col-content fl-node-content">
  <div class="fl-module fl-module-pp-heading fl-node-5ab17464600de" data-node="5ab17464600de">
  <div class="fl-module-content fl-node-content">
    <div class="pp-heading-content">
    <div class="pp-heading  pp-center">

    <h3 class="heading-title">

      
      <span class="title-text pp-primary-title">VALUATIONS &amp;  FAIRNESS OPINIONS</span>
      
      
    </h3>

  </div>
        <div class="pp-sub-heading">
      <p>Dinan’s valuation services provide our clients with independent, objective advice throughout every stage of a transaction.  And adding more text to test the padding. Tnh</p>   </div>
  
  </div>
  </div>
</div>
<div class="fl-module fl-module-pp-smart-button fl-node-5ab1748d25bcf" data-node="5ab1748d25bcf">
  <div class="fl-module-content fl-node-content">
    <div class="pp-button-wrap pp-button-width-full">
  <a href="/service/valuation-fairness-opinions/" target="_self" class="pp-button" role="button">
        <span class="pp-button-text">LEARN MORE</span>
      </a>
</div>
  </div>
</div>
  </div>
</div>
      




    
  </div>
</div></div></body></html>