<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Harold, you have a new email.</h1>
    <p>
      Subject: <%= @user_info[:subject] %>
    </p>
    <p><%= @user_info[:name] %> says:
    <p>Message: <%= @user_info[:message] %>
      <br>
    </p>
  </body>
</html>
