<%= render 'investment_banking/investment_pic' %>
<main id="page" role="main">

        <!--
        --><!--
        --><div id="folderNav" data-content-field="navigation-folderNav">
  <div class="folder-nav-toggle"></div>
  <nav class="folder-nav" role="navigation">
    <ul>
      <%= render 'investment_banking/side_nav' %>
    </ul>
  </nav>
</div><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="53519fd7e4b0e68461b3d2f1" data-edit-main-image="">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1540306395419" id="page-53519fd7e4b0e68461b3d2f1"><div class="row sqs-row" id="yui_3_17_2_1_1592001963107_111"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1592001963107_110"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1412717418905_24776"><div class="sqs-block-content"><h2 style="white-space: pre-wrap;">Buy Side Advisory</h2><p style="white-space: pre-wrap;">Utilizing our targeted, research-driven process, we are successful in finding the right companies and investment opportunities in whatever geography our clients are focused. We ensure the strategy drives the deals and assist throughout the entire acquisition process for one-time deals and ongoing growth and business development initiatives.</p>


</div></div></div></div></div>
        </div><!--
        -->

      </main>

      <%= javascript_tag "addTextByDelay('#investment-plus-text')" %>
