<li ><%= link_to "Venture + Growth", venture_growth_path, style: "padding: 0px;", class: "nav-section-label" %></li>
<li ><%= link_to "Overview", venture_growth_overview_path, class: "page-collection" %></li>
<li ><%= link_to "Sectors", venture_growth_sectors_path, sclass: "page-collection" %></li>
