<%= render 'venture_growth/venture_growth_pic' %>
<main id="page" role="main">

        <!--
        --><!--
        --><div id="folderNav" data-content-field="navigation-folderNav">
  <div class="folder-nav-toggle"></div>
  <nav class="folder-nav" role="navigation">
    <ul>
      <%= render 'venture_growth/side_nav' %>
    </ul>
  </nav>
</div><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="53519fd7e4b0e68461b3d2f1" data-edit-main-image="">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1540306395419" id="page-53519fd7e4b0e68461b3d2f1"><div class="row sqs-row" id="yui_3_17_2_1_1592001963107_111"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1592001963107_110"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1412717418905_24776"><div class="sqs-block-content"><h2 style="white-space: pre-wrap;">Overview</h2><p style="white-space: pre-wrap;">Hyacinth assists middle-market and emerging growth companies in accessing the dynamic private capital markets for equity and debt financing.</p><p style="white-space: pre-wrap;">Our capital raising efforts include structuring and placing venture capital for emerging growth companies, growth capital for more established companies, and leveraged acquisitions and recapitalizations for growth-oriented companies with strong cash flows.</p><p style="white-space: pre-wrap;">Hyacinth’s experience has raised billions of dollars of private capital for our clients, and through this experience, we have formed relationships with capital providers throughout the country who invest across industries and stages of a company’s lifecycle.</p><p style="white-space: pre-wrap;">In arranging a capital raising transaction, we assist our clients by:</p>

        <ul>
            <li>­Determining the amount and type of capital to be raised</li>
            <li>­Advising on an expected valuation range and market terms</li>
            <li>­Establishing proposed terms of the financing</li>
            <li>­Preparing marketing materials and detailed financial model</li>
            <li>­Contacting our extensive network of private capital sources</li>
            <li>­Negotiating the final size and terms of the financing</li>
          </ul>
        <p style="white-space: pre-wrap;">By helping companies through the capital raising process, we form relationships that continue as the company grows, often supporting multiple transactions in the company’s lifecycle.</p>


</div></div></div></div></div>
        </div><!--
        -->

      </main>

      <%= javascript_tag "addTextByDelay('#investment-plus-text')" %>
