<%= render 'venture_growth/venture_growth_pic' %>
<main id="page" role="main">

        <!--
        --><!--
        --><div id="folderNav" data-content-field="navigation-folderNav">
  <div class="folder-nav-toggle"></div>
  <nav class="folder-nav" role="navigation">
    <ul>
      <%= render 'venture_growth/side_nav' %>
    </ul>
  </nav>
</div><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="53519fd7e4b0e68461b3d2f1" data-edit-main-image="">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1540306395419" id="page-53519fd7e4b0e68461b3d2f1"><div class="row sqs-row" id="yui_3_17_2_1_1592001963107_111"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1592001963107_110"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1412717418905_24776"><div class="sqs-block-content"><h2 style="white-space: pre-wrap;">Sectors</h2><p style="white-space: pre-wrap;">NEED A PARAGRAPH FOR THIS</p><p style="white-space: pre-wrap;">Our services include transaction advisory for buyers and sellers, financing and recapitalization assistance, and divestitures. We understand the impact of growth aspirations and the implications of succession challenges. We have been in your shoes. Our experience provides us with an understanding of all perspectives and the insight to anticipate actions throughout the transaction.</p><p style="white-space: pre-wrap;">Our research-driven process and broad perspective leverages more than just our past experience and places our partners in position to achieve their goals in today’s market.&nbsp; We have worked with hundreds of companies and analyzed dozen of industries.&nbsp; We are not merely financial engineers. We figure out what makes our clients different and what drives their business. We utilize that understanding to showcase the value to the right partners.</p><p style="white-space: pre-wrap;">Our extensive service offering allows us to provide unbiased advice that will assist our partners in achieving their goals and maximizing value.


</div></div></div></div></div>
        </div><!--
        -->

      </main>

      <%= javascript_tag "addTextByDelay('#investment-plus-text')" %>
