<!DOCTYPE html>
<html>
<head>
<style>
.container {
  position: relative;
}

.center {
  position: absolute;
  top: 40%;
  width: 100%;
  color: white;
  font-family: "europa";
  line-height: 1.1em;
  letter-spacing: 1px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

</style>
</head>
<body>

<div class="container">
  <img style="width: 100%; height: 600px;" src="<%= asset_path('about_page.jpg') %>" alt="Cinque Terre" width="1000" height="300">
  <div class="center" data-content-field="description" data-collection-id="53519fd7e4b0e68461b3d2f1"> <p id="investment-plus-text">WE NEED WORDING FOR THIS PICTURE</p></div>
</div>

</body>
</html>
