<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<footer id="footer" role="contentinfo">

<div class="row">
  <div class="column" style="padding: 40px">
    <h2 style="color: #B5F4EB; text-align: center; margin: 0px; ">New York</h2>
    <p style="color: #B5F4EB; text-align: center; margin: 0px;">917.273.1782</p>
    <h2 style="color: #B5F4EB; text-align: center; margin: 0px; ">Atlanta</h2>
    <p style="color: #B5F4EB; text-align: center; margin: 0px;">404.680.4914</p>
  </div>
  <div class="column" style="padding: 40px" >
    <div class="form-wrapper">

  <div class="form-inner-wrapper">
    <form data-form-id="543449ade4b0654a229b3d99" data-success-redirect="" autocomplete="on" method="POST" action="https://cascade-partners.squarespace.com" onsubmit="return (function (form) {
  Y.use('squarespace-form-submit', 'node', function usingFormSubmit(Y) {
    (new Y.Squarespace.FormSubmit(form)).submit({
      formId: '543449ade4b0654a229b3d99',
      collectionId: '',
      objectName: 'preFooterBlocks'
    });
  });
  return false;
})(this);">

        <div class="field-list clear">
              <fieldset id="name-yui_3_17_2_1_1412712822928_9469" class="form-item fields name required">
            <legend class="title" style="color: #B5F4EB;">
              Name
                <span class="required" aria-hidden="true">*</span>

            </legend>


                <div class="field first-name">
                  <label class="caption">
                    <input class="field-element field-control" name="fname" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" data-title="First" aria-required="true">
                    <span class="caption-text" style="color: #B5F4EB;">First Name</span>
                  </label>
                </div>
                <div class="field last-name">
                  <label class="caption">
                    <input class="field-element field-control" name="lname" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" data-title="Last" aria-required="true">
                    <span class="caption-text" style="color: #B5F4EB;">Last Name</span>
                  </label>
                </div>
              </fieldset>



              <div id="email-yui_3_17_2_1_1412712822928_9796" class="form-item field email required">

            <label class="title" for="email-yui_3_17_2_1_1412712822928_9796-field" style="color: #B5F4EB;">
              Email Address

                <span class="required" aria-hidden="true">*</span>

            </label>


                <input class="field-element" id="email-yui_3_17_2_1_1412712822928_9796-field" name="email" type="email" autocomplete="email" spellcheck="false" aria-required="true">
              </div>

        </div>

      <div data-animation-role="button" class="form-button-wrapper form-button-wrapper--align-center">
        <input class="button sqs-system-button sqs-editable-button" type="submit" value="Let's Connect">
      </div>



      <div class="hidden form-submission-text"><p>Thank you!<br>A member from our team will contact you shortly.&nbsp;</p></div>
      <div class="hidden form-submission-html" data-submission-html=""></div>
    </form> </div></div>
  </div>
  <div class="column" style="padding: 0px">
    <div class="row sqs-row" id="yui_3_17_2_1_1591915440584_167"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1591915440584_166"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-713fe491a2c303b33937"><div class="sqs-block-content"></div></div><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1538075832435_7877"><div class="sqs-block-content" id="yui_3_17_2_1_1591915440584_165">


    <img style="padding: 0px; margin-left: auto; margin-right: auto;" class="thumb-image loaded" data-src="<%= asset_path('test_logo.jpg') %>" data-image="<%= asset_path('test_logo.jpg') %>" data-image-dimensions="300x155" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5bad2d01104c7b5a728a23a9" data-type="image" alt="gcg_capital_logo_member_vers_300.png" data-image-resolution="750w" src="<%= asset_path('test_logo.jpg') %>?format=750w">
</div></div></div></div>
  </div>
</div>

</footer>



